<!DOCTYPE html>
<html>
<head>
  <title>App</title>
</head>
<body>
  <section class="main">

    <h1>App</h1>
    <p>take the user input</p>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/app">App</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Github</a></li>
    </ul>

    <form action='/results' method="POST">
      <label for="url">Enter a Medium URL</label>
      <input type="text" name="url" class="url" placeholder="Enter a Medium URL">
      <button type="submit">Inspect</button>
    </form>

    <p>&copy; 2016 Paul van Zyl. find the code on <a href="#">Github</a>.  Built with <a href="http://hapijs.com/">Hapi JS</a></p>

  </section>
</body>
</html>