<!DOCTYPE html>
<html>
<head>
  <title>Bad Input</title>
</head>
<body>
  <h1 class="error">Error : That doesn't seem to be a url</h1>
  <h1>Woops. We need a URL to analyze.</h1>
  <p>Why don't you <a href="/app">go back</a> and try again</p>
</body>
</html>