<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <section class="main">

    <h1>Home</h1>
    <p>a little app built with hapi!</p>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/app">App</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Github</a></li>
    </ul>

    <p>&copy; 2016 Paul van Zyl. find the code on <a href="#">Github</a>.  Built with <a href="http://hapijs.com/">Hapi JS</a></p>

  </section>
</body>
</html>